In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
!pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.9/dist-packages (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.9/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.9/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.9/dist-packages (from tweepy) (2.25.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.2.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests[socks]>=2.11.1->tweepy) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]>=2.11.1->tweepy) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import configparser
import tweepy
config = configparser.ConfigParser()
config.read('config.ini') ##add your twitter api config file

# Read the config file
api_key = config['twitter']['api_key']
api_key_secret = config['twitter']['api_key_secret']
access_token = config['twitter']['access_token']
access_token_secret = config['twitter']['access_token_secret']

# Authenticate
auth = tweepy.OAuthHandler(api_key, api_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
alhudood_en_user = 'AlHudoodnetEn'
# Set the limit of number of records
limit=270

# Search using pagination
tweets_alhudood_en = tweepy.Cursor(api.user_timeline, screen_name=alhudood_en_user, tweet_mode='extended').items(limit)

# Create columns for the DataFrame
columns = ['Time', 'User', 'Tweet']
alhudood_en_data = []

# Iterate through the results and append them to the list
for tweet in tweets_alhudood_en:
    alhudood_en_data.append([tweet.created_at, tweet.user.screen_name, tweet.full_text])

# Create a dataframe with the results
alhudood_en_df = pd.DataFrame(alhudood_en_data, columns=columns)

In [ ]:
alhudood_en_df.shape

(270, 3)

In [ ]:
alhudood_en_df.head(5)

,Time,User,Tweet
0,2022-07-05 17:57:31,AlHudoodnetEn,Erdogan and MBS sign counter-journalism agreem...
1,2022-07-04 16:23:42,AlHudoodnetEn,Germany wins Israeli endowment to repress Pale...
2,2022-06-30 15:23:03,AlHudoodnetEn,India apologizes for hate speech against Musli...
3,2022-06-25 04:53:00,AlHudoodnetEn,Saad Lamjarred in Arab world tour to advocate ...
4,2022-06-07 15:23:01,AlHudoodnetEn,Sisi prophecies Egypt will endure seven years ...

In [ ]:
alhudood_en_df.to_csv("datasets/Alhudood_en_tweets_270.csv")

The Onion

In [ ]:
onion_user = 'TheOnion'
# Set the limit of number of records
limit = 600

# Search using pagination
tweets_onion = tweepy.Cursor(api.user_timeline, screen_name=onion_user, tweet_mode='extended').items(limit)

# Create columns for the DataFrame
columns = ['Time', 'User', 'Tweet']
onion_data = []

# Iterate through the results and append them to the list
for tweet in tweets_onion:
    onion_data.append([tweet.created_at, tweet.user.screen_name, tweet.full_text])

# Create a dataframe with the results
onion_df = pd.DataFrame(onion_data, columns=columns)

In [ ]:
onion_df.shape

(600, 3)

In [ ]:
onion_df.head(5)

,Time,User,Tweet
0,2023-03-12 22:59:00,TheOnion,Anna Paquin secured the 1993 Oscar for Best Su...
1,2023-03-12 22:30:06,TheOnion,Archaeological Dig Uncovers Ancient Race Of Sk...
2,2023-03-12 22:00:10,TheOnion,Hollywood’s Biggest Stars Explain Why The Osca...
3,2023-03-12 21:30:06,TheOnion,Eight-Pound Man Removed From Woman's Vagina ht...
4,2023-03-12 20:30:06,TheOnion,Girl Moved To Tears By 'Of Mice And Men' Cliff...

In [ ]:
onion_df.to_csv("datasets/the_onion_tweets_600.csv")

In [ ]:
satire_en =  pd.concat([alhudood_en_df, onion_df], axis=0)

In [ ]:
satire_en.shape

(870, 3)

In [ ]:
satire_en.to_csv("datasets/satire_en_onion_alhudood_870.csv")

Real News En. Aljazeera Breaking News

In [ ]:
AJ_user = 'AJENews'
# Set the limit of number of records
limit = 600

# Search using pagination
tweets_AJ = tweepy.Cursor(api.user_timeline, screen_name=AJ_user, tweet_mode='extended').items(limit)

# Create columns for the DataFrame
columns = ['Time', 'User', 'Tweet']
AJ_data = []

# Iterate through the results and append them to the list
for tweet in tweets_AJ:
    AJ_data.append([tweet.created_at, tweet.user.screen_name, tweet.full_text])

# Create a dataframe with the results
AJ_df = pd.DataFrame(AJ_data, columns=columns)

In [ ]:
AJ_df.shape

(600, 3)

In [ ]:
AJ_df.head(5)

,Time,User,Tweet
0,2023-03-10 12:14:07,AJENews,BREAKING: Iran and Saudi Arabia ‘agree to rest...
1,2023-03-09 19:46:55,AJENews,BREAKING: Israeli emergency services say three...
2,2023-03-07 15:53:31,AJENews,BREAKING: Israeli forces kill at least 6 Pales...
3,2023-03-06 07:36:01,AJENews,BREAKING: At least nine soldiers killed in Pak...
4,2023-03-03 03:41:06,AJENews,BREAKING: Cambodia opposition leader Kem Sokha...

In [ ]:
AJ_df.to_csv("datasets/AJ_English_600.csv")

# Dataset Preprocessing and Filtering

Loading Arabic Dataset

In [ ]:
satire_ar_df = pd.read_csv('datasets/satire_set_ar.csv', usecols= ['text'])
satire_ar_df = satire_ar_df.rename(columns={"text": "tweet"})

real_ar_df = pd.read_csv('datasets/real_set_ar.csv', usecols= ['text'])
real_ar_df = real_ar_df.rename(columns={"text": "tweet"})

fake_ar_df = pd.read_csv('datasets/fake_set_ar.csv', index_col=0)
fake_ar_df  = fake_ar_df.loc[fake_ar_df['label'] == False]
fake_ar_df = fake_ar_df.rename(columns={"tweet_text": "tweet"})

In [ ]:
satire_ar_df.head(5)

                                               tweet
0  #عاجل: أنباء عن وجود حكومة في لبنان بعد صدور ق...
1  #عاجل: السيسي ينشئ صندوقاً وطنياً لدفن المعتقل...
2  #عاجل: بعد إغرائه بعقد عمل وحياة رغيدة، مالك ن...
3  #عاجل: مطالب شعبية بشطب كلمة «جواز» رسمياً من ...
4  #عاجل: انقطاع الكهرباء يتسبب بمرور بابا نويل ف...

In [ ]:
real_ar_df.head(5)

                                               tweet
0  عاجل | رئيس جبهة الخلاص الوطني في #تونس: ندعو ...
1  عاجل | مراسل #الجزيرة: عمليات تخريب خلال مواجه...
2  عاجل | غازبروم: انخفاض صادرات الغاز للبلدان خا...
3  عاجل | رويترز عن مصادر: حزمة المساعدات الأمريك...
4  عاجل | إعلان الطوارئ في ولاية جنوب دارفور وحظر...

In [ ]:
fake_ar_df.head(5)

  origin                                              tweet  label
0    ARC  منقولة  هذا الريس يستحق الحب والاحترام  رئيس ك...  False
1    4IF  الخليجيون في مرمى دراسات #كورونا السريرية الصي...  False
2    4IF  @mjamal110 تطعيم ٧ مليار بشر لان 0.011% منهم م...  False
3    ARC  انباء وتقارير صحفيه ايطاليه تتحدث عن اصابة #با...  False
4    ARC   صدام حسين يتكلم عن فيروس كورونا    #فيروس_كورونا  False

In [ ]:
fake_ar_df['origin'].value_counts()

ARC    316
MFH     80
4IF     69
Name: origin, dtype: int64

In [ ]:
fake_ar_df = fake_ar_df[['tweet']] 
fake_ar_df.head()

                                               tweet
0  منقولة  هذا الريس يستحق الحب والاحترام  رئيس ك...
1  الخليجيون في مرمى دراسات #كورونا السريرية الصي...
2  @mjamal110 تطعيم ٧ مليار بشر لان 0.011% منهم م...
3  انباء وتقارير صحفيه ايطاليه تتحدث عن اصابة #با...
4   صدام حسين يتكلم عن فيروس كورونا    #فيروس_كورونا

Loading English Dataset

In [ ]:
satire_en_df = pd.read_csv('datasets/satire_en_onion_alhudood_870.csv', usecols= ['User', 'Tweet'])
satire_en_df = satire_en_df.rename(columns={"Tweet": "tweet"})

real_en_df = pd.read_csv('datasets/AJ_English_600.csv', usecols= ['Tweet'])
real_en_df = real_en_df.rename(columns={"Tweet": "tweet"})

fake_en_df = pd.read_csv('datasets/fake_set_en.csv')
fake_en_df = fake_en_df[["tweet"]]

In [ ]:
satire_en_df.head(5)

            User                                              tweet
0  AlHudoodnetEn  Erdogan and MBS sign counter-journalism agreem...
1  AlHudoodnetEn  Germany wins Israeli endowment to repress Pale...
2  AlHudoodnetEn  India apologizes for hate speech against Musli...
3  AlHudoodnetEn  Saad Lamjarred in Arab world tour to advocate ...
4  AlHudoodnetEn  Sisi prophecies Egypt will endure seven years ...

In [ ]:
real_en_df.head()

                                               tweet
0  BREAKING: Iran and Saudi Arabia ‘agree to rest...
1  BREAKING: Israeli emergency services say three...
2  BREAKING: Israeli forces kill at least 6 Pales...
3  BREAKING: At least nine soldiers killed in Pak...
4  BREAKING: Cambodia opposition leader Kem Sokha...

In [ ]:
fake_en_df.head()

                                               tweet
0  Politically Correct Woman (Almost) Uses Pandem...
1  Obama Calls Trump’s Coronavirus Response A Cha...
2  ???Clearly, the Obama administration did not l...
3  Retraction—Hydroxychloroquine or chloroquine w...
4  The NBA is poised to restart this month. In Ma...

In [ ]:
print("Satire Arabic: ", satire_ar_df.shape)
print("Real Arabic: ", real_ar_df.shape)
print("Fake Arabic: ", fake_ar_df.shape)
print("\n")
print("Satire English: ", satire_en_df.shape)
print("Real English: ", real_en_df.shape)
print("Fake English: ", fake_en_df.shape)

Satire Arabic:  (465, 1)
Real Arabic:  (465, 1)
Fake Arabic:  (465, 1)


Satire English:  (870, 2)
Real English:  (600, 1)
Fake English:  (3060, 1)

In [ ]:
##randomly sample english test to be 900 as a start, we do not need much of the data there
fake_en_df = fake_en_df.sample(n = 900)

In [ ]:
print("Satire Arabic: ", satire_ar_df.shape)
print("Real Arabic: ", real_ar_df.shape)
print("Fake Arabic: ", fake_ar_df.shape)
print("\n")
print("Satire English: ", satire_en_df.shape)
print("Real English: ", real_en_df.shape)
print("Fake English: ", fake_en_df.shape)

Satire Arabic:  (465, 1)
Real Arabic:  (465, 1)
Fake Arabic:  (465, 1)


Satire English:  (870, 2)
Real English:  (600, 1)
Fake English:  (900, 1)

Preprocessing English Tweets

In [ ]:
!pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 KB 5.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234926 sha256=11bf86f49ba6aa4ba171ce43b3fc69a65f226d978ca222df49506763808c3f11
  Stored in directory: /root/.cache/pip/wheels/9a/b8/0f/f580817231cbf59f6ade9fd132ff60ada1de9f7dc85521f857
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0

In [ ]:
from pandas._libs.tslibs import timestamps
from nltk.corpus import stopwords
import nltk
import emoji
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

def preprocess_tweet_en(tweet):
  tmp = tweet.lower()
  tmp = re.sub('http[^\s]+',' ', tmp) #links
  tmp = re.sub('www[^\s]+',' ', tmp) #links
  tmp = re.sub('@[^\s]+',' ', tmp) #mentions
  tmp = re.sub('#',' ', tmp) #hashtag sign
  #tmp = re.sub(r'[^0-9a-zA-Z]+', ' ', tmp) #keep letters and numbers, remove punc and emojis
  tmp = emoji.replace_emoji(tmp, replace='')
  tmp = re.sub('breaking *(:|-|!)*', ' ', tmp)
  tmp = re.sub('developing *(:|-|!)*', ' ',tmp)
  tmp = re.sub('news *(:|-|!)*', ' ', tmp)
  tmp = re.sub('update *(:|-|!)*', ' ', tmp)
  tmp = tmp.rstrip().lstrip()
  return tmp

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
satire_en_df['tweet'] = satire_en_df['tweet'].map(lambda tweet: preprocess_tweet_en(tweet))
satire_en_df = satire_en_df[satire_en_df['tweet'].str.len() > 35]

real_en_df['tweet'] = real_en_df['tweet'].map(lambda tweet: preprocess_tweet_en(tweet))
real_en_df = real_en_df[real_en_df['tweet'].str.len() > 35]

fake_en_df['tweet'] = fake_en_df['tweet'].map(lambda tweet: preprocess_tweet_en(tweet))
fake_en_df = fake_en_df[fake_en_df['tweet'].str.len() > 35]

In [ ]:
print("Satire Arabic: ", satire_ar_df.shape)
print("Real Arabic: ", real_ar_df.shape)
print("Fake Arabic: ", fake_ar_df.shape)
print("\n")
print("Satire English: ", satire_en_df.shape)
print("Real English: ", real_en_df.shape)
print("Fake English: ", fake_en_df.shape)

Satire Arabic:  (465, 1)
Real Arabic:  (465, 1)
Fake Arabic:  (465, 1)


Satire English:  (714, 2)
Real English:  (593, 1)
Fake English:  (886, 1)

In [ ]:
print(len(satire_en_df[satire_en_df.User=="TheOnion"]))
print(len(satire_en_df[satire_en_df.User=="AlHudoodnetEn"]))

498
216

In [ ]:
satire_en_df.sample(5)

              User                                              tweet
169  AlHudoodnetEn  this morning, department of food safety (dfs) ...
571       TheOnion  lori lightfoot can’t believe city she hates wo...
135  AlHudoodnetEn  occupation authorities in the middle east’s on...
122  AlHudoodnetEn  triggered by declining positive test results, ...
119  AlHudoodnetEn  should i take a shower or do i not smell rotte...

In [ ]:
real_en_df.sample(5)

                                                 tweet
28   deaths reported after a strong earthquake hits...
85         saudi arabia beats argentina in shock upset
358  biden says us and allies will end normal trade...
312     three explosions heard near lviv: city council
145  russia, ukraine trade blame for attacks near n...

In [ ]:
real_en_df.sample(5)

                                                 tweet
177  japan’s ex-prime minister abe dies after being...
175  parliament elects prime minister ranil wickrem...
182  uk: boris johnson gov’t plunged into crisis as...
216  shireen abu akleh pallbearer arrested days aft...
333  russia losing high-ranking military officers, ...

Preprocessing Arabic Tweets

In [ ]:
!pip install camel-tools

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting camel-tools
  Downloading camel_tools-1.4.1-py3-none-any.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 KB 2.8 MB/s eta 0:00:00
Collecting docopt
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cachetools in /usr/local/lib/python3.9/dist-packages (from camel-tools) (5.3.0)
Requirement already satisfied: editdistance in /usr/local/lib/python3.9/dist-packages (from camel-tools) (0.5.3)
Requirement already satisfied: pyrsistent in /usr/local/lib/python3.9/dist-packages (from camel-tools) (0.19.3)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.4.4)
Collecting camel-kenlm
  Downloading camel-kenlm-2021.12.27.tar.gz (418 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 418.2/418.2 KB 9.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting transformers>=3.0.2
  Downloading transformers-4.27.1-py3-none-any.whl (6.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.7/6.7 MB 44.6 MB/s eta 0:00:00
Requirement already satisfied: future in /usr/local/lib/python3.9/dist-packages (from camel-tools) (0.16.0)
Requirement already satisfied: emoji in /usr/local/lib/python3.9/dist-packages (from camel-tools) (2.2.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.10.1)
Requirement already satisfied: tabulate in /usr/local/lib/python3.9/dist-packages (from camel-tools) (0.8.10)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.22.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from camel-tools) (2.25.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.2.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from camel-tools) (4.65.0)
Requirement already satisfied: torch>=1.3 in /usr/local/lib/python3.9/dist-packages (from camel-tools) (1.13.1+cu116)
Collecting dill
  Downloading dill-0.3.6-py3-none-any.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 KB 10.5 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch>=1.3->camel-tools) (4.5.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers>=3.0.2->camel-tools) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers>=3.0.2->camel-tools) (23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers>=3.0.2->camel-tools) (3.9.0)
Collecting huggingface-hub<1.0,>=0.11.0
  Downloading huggingface_hub-0.13.2-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 18.7 MB/s eta 0:00:00
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers>=3.0.2->camel-tools) (2022.6.2)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 83.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->camel-tools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->camel-tools) (2022.7.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->camel-tools) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->camel-tools) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->camel-tools) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->camel-tools) (1.26.15)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->camel-tools) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->camel-tools) (3.1.0)
Building wheels for collected packages: camel-kenlm, docopt
  Building wheel for camel-kenlm (setup.py) ... done
  Created wheel for camel-kenlm: filename=camel_kenlm-2021.12.27-cp39-cp39-linux_x86_64.whl size=2970076 sha256=740f739ae5a3a3fd908017e2b6920c86b335862226a9ccd7684e858ced360722
  Stored in directory: /root/.cache/pip/wheels/9b/68/6c/bebb6b3968674a41e716ee4b5336f446c1458398b9bfe46b54
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13721 sha256=0b94ce5a7a8513c88c19d43571d6814b966342e46a4888dfffa605b4e208c92e
  Stored in directory: /root/.cache/pip/wheels/70/4a/46/1309fc853b8d395e60bafaf1b6df7845bdd82c95fd59dd8d2b
Successfully built camel-kenlm docopt
Installing collected packages: tokenizers, docopt, camel-kenlm, dill, huggingface-hub, transformers, camel-tools
Successfully installed camel-kenlm-2021.12.27 camel-tools-1.4.1 dill-0.3.6 docopt-0.6.2 huggingface-hub-0.13.2 tokenizers-0.13.2 transformers-4.27.1

In [ ]:
from camel_tools.utils.dediac import dediac_ar
from pandas._libs.tslibs import timestamps
from nltk.corpus import stopwords
import nltk
import emoji


def preprocess_tweet_ar(tweet):
  tmp = re.sub('http[^\s]+',' ', tweet) #links
  tmp = re.sub('www[^\s]+',' ', tmp) #links
  tmp = re.sub('@[^\s]+',' ', tmp) #mentions
  tmp = re.sub('#',' ', tmp) #hashtag sign
  #tmp = re.sub(r'[^0-9a-zA-Z]+', ' ', tmp) #keep letters and numbers, remove punc and emojis
  tmp = emoji.replace_emoji(tmp, replace='')
  tmp = re.sub('عاجل *(:|-|!|\|)*', ' ', tmp)
  tmp = dediac_ar(tmp)
  tmp = tmp.rstrip().lstrip()
  return tmp

In [ ]:
#satire_ar_df['tweet'] = satire_ar_df['tweet'].map(lambda tweet: preprocess_tweet_ar(tweet))
#satire_ar_df = satire_ar_df[satire_ar_df['tweet'].str.len() > 35]

#real_ar_df['tweet'] = real_ar_df['tweet'].map(lambda tweet: preprocess_tweet_ar(tweet))
#real_ar_df = real_ar_df[real_ar_df['tweet'].str.len() > 35]

fake_ar_df['tweet'] = fake_ar_df['tweet'].map(lambda tweet: preprocess_tweet_ar(tweet))
fake_ar_df = fake_ar_df[fake_ar_df['tweet'].str.len() > 35]

In [ ]:
#print("Satire Arabic: ", satire_ar_df.shape)
#print("Real Arabic: ", real_ar_df.shape)
print("Fake Arabic: ", fake_ar_df.shape)
print("\n")
#print("Satire English: ", satire_en_df.shape)
#print("Real English: ", real_en_df.shape)
#print("Fake English: ", fake_en_df.shape)

Fake Arabic:  (458, 3)

In [ ]:
satire_ar_df.sample(5)

                                                 tweet
24   دبي تمنح رومان أبراموفيتش الإقامة الذهبية عن ف...
285  طبيب بيطري يثبت أنه لا يقل شأنا عن الأطباء الب...
381  موظف يستغل استراحة الغداء ليستمتع بالطبيعية ال...
61   معهد غوته: أرسلنا الدعوة ليعقوب، الذي احتل محم...
315  الدفاع المدني ينقذ شابا في حالة متوسطة بعد أن ...

In [ ]:
real_ar_df.sample(5)

                                                 tweet
439  بيان مشترك أمريكي ياباني: تحالف البلدين سيبقى ...
321  البيت الأبيض: بايدن وجه وزارة النقل بإجراء تحق...
417  المندوب الأوكراني بمجلس الأمن: قلقون جدا من ال...
186  البرهان للجزيرة: لن نقف مع من يعمل على تدمير ا...
210  الاتفاق السياسي الإطاري بالسودان: دمج قوات الد...

In [ ]:
fake_ar_df.sample(5)

                                                 tweet
20   رواية عيون الظلام لكاتب امريكي  صدرت قبل 39 سن...
413  الهيئة ايران راح تغطي علي الصين في الاصابات بف...
179  كورونا يصيب الامارات بالشلل التام وسط انباء عن...
37   اخبار_العالم   l     فيروس_كورونا_الصين    الص...
242  “لقد فقدنا السيطرة، الوباء قتلنا نفسيا وبدنيا ...

Lets save everything to CSV files

In [ ]:
satire_en_df.to_csv("datasets/preprocessed/satire_en.csv")
real_en_df.to_csv("datasets/preprocessed/real_en.csv")
fake_en_df.to_csv("datasets/preprocessed/fake_en.csv")



satire_ar_df.to_csv("datasets/preprocessed/satire_ar.csv")
real_ar_df.to_csv("datasets/preprocessed/real_ar.csv")
fake_ar_df.to_csv("datasets/preprocessed/fake_ar.csv")

In [ ]:
satire_en_df = satire_en_df.assign(label='satire')
satire_en_df = satire_en_df[["tweet", "label"]]

real_en_df = real_en_df.assign(label='real')
fake_en_df = fake_en_df.assign(label='fake')

satire_ar_df = satire_ar_df.assign(label='satire')
real_ar_df = real_ar_df.assign(label='real')
fake_ar_df = fake_ar_df.assign(label='fake')

In [ ]:
en_all_df = pd.concat([satire_en_df, real_en_df, fake_en_df], axis=0)

In [ ]:
en_all_df.sample(10)

                                                  tweet   label
6357  a video of us president donald trump and a top...    fake
213   iran's quds force member assassinated in tehra...    real
363   russia: we have enough oil and gas buyers even...    real
131   rt   al jazeera’s   has obtained the largest l...    real
79    taliban urges us and isis to fight elsewhere w...  satire
110   “we will attack them with all our strength so ...  satire
1072  president trump asked to see the covid death c...    fake
358   congresswoman shirley chisholm needed a sitcom...  satire
85          saudi arabia beats argentina in shock upset    real
353   nazanin zaghari-ratcliffe and anoosheh ashoori...    real

In [ ]:
ar_all_df = pd.concat([satire_ar_df, real_ar_df, fake_ar_df], axis=0)

In [ ]:
ar_all_df.sample(10)

                                                 tweet   label
289  مراسل  الجزيرة: مظاهرات مؤيدة للرئيس البرازيلي...    real
431  الغرغرة بالماء والملح يمكن أن تقي من العدوى بف...    fake
98   مراسلة  الجزيرة: صافرات الإنذار تدوي في العاصم...    real
32   محامي شبكة  الجزيرة: على المحكمة الجنائية تحدي...    real
378  أردوغان: هناك من أرادوا الاستفادة من القطيعة ف...    real
150  كورونا..   إلتقطت هذه الصورة صباح اليوم الجمعة...    fake
95   سي إن إن عن مصادر: إطلاق سراح لاعبة كرة السلة ...    real
262  3104 اصابة في لبنان بفيروس  كورونا  سنموت_بعد_...    fake
234  دورية إسرائيلية تعتقل منى الكرد لأنها إن لم تف...  satire
39   أي حد يتكلم علي لقاح لوهم كورونا القاتل المسرط...    fake

In [ ]:
en_all_df.to_csv("datasets/preprocessed/all_en.csv")
ar_all_df.to_csv("datasets/preprocessed/all_ar.csv")

In [ ]:
print("Satire All: ", satire_ar_df.shape[0] + satire_en_df.shape[0])
print("Real All: ",  real_ar_df.shape[0] + real_en_df.shape[0])
print("Fake All: ", fake_ar_df.shape[0] + fake_en_df.shape[0])

Satire All:  1150
Real All:  1058
Fake All:  1344